root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# C Source (Handled strictly by Clang-Format, but fallback here)
[*.{c,h}]
indent_style = space
indent_size = 2

# Makefiles (Must use Tabs)
[Makefile]
indent_style = tab

# YAML / Markdown (GitHub workflows, docs)
[*.{yaml,yml,md}]
indent_style = space
indent_size = 2